@model Sprint2.Instrument

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Instrument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sound" class="control-label"></label>
                <input asp-for="Sound" class="form-control" />
                <span asp-validation-for="Sound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPlaying" /> @Html.DisplayNameFor(model => model.IsPlaying)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SoundCount" class="control-label"></label>
                <input asp-for="SoundCount" class="form-control" />
                <span asp-validation-for="SoundCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
